{% load static %}

  <footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="{% url 'pages:home' %}" class="logo d-flex align-items-center">
            <span class="sitename">Uniko Power</span>
          </a>
          <div class="footer-contact pt-3">
            <p>House 18, Lane 15, Block C</p>
            <p>Mirpur 10, Dhaka 1216</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+880 1711-183455</span></p>
            <p><strong>Email:</strong> <span>unikopower@gmail.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href="https://twitter.com/unikobazar" target="_blank"><i class="bi bi-twitter-x"></i></a>
            <a href="https://www.facebook.com/unikobazar" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/unikobazar" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/company/unikobazar" target="_blank"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="{% url 'pages:home' %}">Home</a></li>
            <li><a href="{% url 'pages:about' %}">About us</a></li>
            <li><a href="{% url 'pages:services' %}">Services</a></li>
            <li><a href="{% url 'pages:ownership' %}">Ownership</a></li>
            <li><a href="{% url 'pages:blog-products' %}">blog-products</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="{% url 'pages:services' %}">Transformer</a></li>
            <li><a href="{% url 'pages:services' %}">Generator</a></li>
            <li><a href="{% url 'pages:services' %}">Lift</a></li>
            <li><a href="{% url 'pages:services' %}">Solar Panel</a></li>
            <li><a href="{% url 'pages:services' %}">Battery</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
          <form action="#" method="post" class="email-form">
            <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your subscription request has been sent. Thank you!</div>
          </form>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Uniko Power</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        Designed by <a href="https://unikobazar.com/" target="_blank">Uniko IT Solutions</a> Distributed by <a href="https://unikobazar.com" target="_blank">Uniko Power</a>
      </div>
    </div>

  </footer>